* {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264D6;
    --secondary-color: #212832;
    --third-color: #696D76;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

/* common */
a {
    text-decoration: none;
}

input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* logo */
.logo {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.logo__name {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.section-sub-heading {
    --color: #696d77;
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-weight: 400;
    line-height: 1.75;
    color: var(--color);
}

.section-sub-heading::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: var(--color);
}

.section-heading {
    margin-top: 12px;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
    color: var(--secondary-color);
}

.section-title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    color: var(--secondary-color);
}

.section-desc {
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    color: var(--third-color);
}

.btn {
    --height: 52px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 113px;
    height: var(--height);
    line-height: var(--height);
    padding: 12px 28px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 6px;
    color: #fff;
    background: var(--secondary-color);
}

.btn:hover {
    opacity: 0.9;
}

/* =============== Header =============== */
.header {
    padding-bottom: 80px;
}

.header__top {
    display: flex;
    align-items: center;
    padding: 24px 0;
}

.navbar__list {
    display: flex;
    align-items: center;
    column-gap: 48px;
    margin-left: 46px;
}

.navbar__link {
    position: relative;
    padding: 8px 0;
    font-weight: 400;
    color: #696D76;
}

.navbar__link-active::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 30px;
    height: 1px;
    background: var(--primary-color);
    border-radius: 99px;
}

.navbar__link:hover,
.navbar__link-active {
    color: var(--secondary-color);
    text-shadow: 1px 0 0 currentColor;
}

.header__act {
    display: flex;
    align-items: center;
    min-width: 188px;
    margin-left: 454px;
}

.header__act-login {
    margin-right: 28px;
    font-weight: 600;
    color: #212832;
}

/* =============== Hero =============== */
/* content */
.hero {
    display: flex;
    padding-top: 52px;
    align-items: center;
    column-gap: 160px;
}

.hero-content {
    max-width: 540px;
}

.hero-content__heading {
    margin-top: 12px;
    font-size: 6.0rem;
    font-weight: 700;
    line-height: 1.16;
    color: var(--secondary-color);
}

.hero-content__heading-highlight {
    color: var(--primary-color);
}

.start-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    height: 74px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.start-form__input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 23px;
    color: var(--third-color);
}

.start-form__btn {
    cursor: pointer;
    --height: 58px;
    width: 149px;
    flex-shrink: 0;
    background: var(--primary-color);
    color: #FFF;
}

.secure-email {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
    color: var(--third-color);
}

/* media */
.hero-media {
    position: relative;
}

.hero-screen {
    position: relative;
    width: 296px;
    height: 562px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 12px solid var(--secondary-color);
    background: #FFF;
    user-select: none;
}

.hero-screen__notch {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 144px;
    height: 36px;
    border-radius: 0px 0px 18px 18px;
    background: #3C2F60;
}

.screen-card {
    position: relative;
    margin: 40px 11px 0 11px;
    width: 250px;
    height: 150px;
    padding: 16px;
    border-radius: 20px;
    background: var(--primary-color);
    overflow: hidden;
}

.screen-card::before {
    content: url(../img/screen-decor-1.svg);
    position: absolute;
    top: 0;
    left: 0;
    height: 93px;
    width: 105px;
}

.screen-card::after {
    content: url(../img/screen-decor-2.svg);
    position: absolute;
    bottom: -9px;
    right: 16px;
    height: 105px;
    width: 126px;
}

.screen-card__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.screen-card__name {
    position: relative;
    z-index: 1;
    font-size: 1.4rem;
    font-weight: 300;
    color: #FFF;
}

.screen-card__type {
    width: 40px;
    height: 24px;
}

.screen-card__money {
    display: inline-block;
    margin-top: 2px;
    font-size: 2.2rem;
    font-weight: 600;
    color: #FFF;
}

.screen-card__info {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-top: 36px;
    z-index: 1;
}

.screen-card__info-row-1 {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2;
    color: #FFF;
}

.screen-card__info-row-2 {
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
    color: #FFF;
}

.screen-transections {
    padding: 24px 11px 30px;
}

.screen-transections__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.screen-transections__title {
    font-size: 16px;
    font-weight: 600;
    color: #31456A;
}

.screen-transections__icon {
    width: 14px;
    height: 12px;
}

.screen-transections-item {
    display: flex;
    align-items: center;
    margin-top: 28px;
}

.screen-transections-item__img {
    width: 40px;
    height: 40px;
}

.screen-transections-item__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-left: 14px;
}

.screen-transections-item__note {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-self: end;
}

.screen-transections-col__act-1,
.screen-transections-item__note-1 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: var(--secondary-color);
}

.screen-transections-col__act-2,
.screen-transections-item__note-2 {
    margin-top: 6px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: var(--third-color);
}

.hero-media-deposite {
    position: absolute;
    top: 113px;
    left: -100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 10px;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
    user-select: none;
}

.hero-media-deposite__icon {
    width: 18px;
    height: 18px;
}

.hero-media-deposite__name {
    font-size: 1.4rem;
    font-weight: 600;
    color: #31456A;
}

.hero-media-deposite__num {
    font-size: 1.4rem;
    font-weight: 400;
    color: #4AB5E3;
}

.hero-media-secured {
    position: absolute;
    right: -74px;
    bottom: 67px;
    display: flex;
    column-gap: 11px;
    padding: 20px 14px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439F90;
    color: #FFF;
    user-select: none;
}

.hero-media-secured__icon {
    width: 20px;
    height: 26px;
}

.hero-media-secured__num {
    font-size: 1.4rem;
    font-weight: 600;
}

.hero-media-secured__name {
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: 400;
}

.hero-media-interest {
    position: absolute;
    right: -174px;
    top: 127px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background: #da6464;
    color: #FFF;
    user-select: none;
}

.hero-media-interest__num {
    text-align: center;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero-media-interest__name {
    font-size: 16px;
    font-weight: 400;
}

/* =============== Works =============== */
.works {
    padding: 80px 0;
}

.works__inner {
    display: flex;
    align-items: center;
    column-gap: 230px;
}

.work-media {
    position: relative;
    width: 470px;
}

.work-media__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 0;
    width: inherit;
}

.work-media__logo {
    position: absolute;
    right: 55px;
    top: 76px;
    z-index: 1;
    width: 64px;
    height: 64px;
}

.work-media__img-wrap::after {
    content: url(../img/work-bg.svg);
    position: absolute;
    left: 0;
    bottom: 0;
}

.work-media__img {
    position: relative;
    z-index: 1;
    width: 456px;
    object-fit: cover;
}

.work-note {
    position: absolute;
    right: -103px;
    bottom: 96px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    max-width: 226px;
    padding: 15px 30px 15px 15px;
    border-radius: 8px;
    background: #FFFDFA;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
    z-index: 1;
}

.work-note__icon {
    height: 40px;
    width: 40px;
}

.work-note__tilte {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.work-note__desc {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--third-color);
}

.work-info {
    padding-top: 28px;
}

.work-info__list {
    margin-top: 70px;
}

.work-info__title {
    font-size: 2.2rem;
}

.work-info__desc {
    margin: 16px 0 28px;
    font-size: 1.6rem;
    line-height: 1.75;
}

/* =============== Service =============== */
.service {
    padding: 80px 0;
}

.service__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 160px;
}

.service-media {
    position: relative;
}

.service-content {
    max-width: 470px;
}

/* content-01 */
.service-content__list {
    margin-top: 28px;
}

.service-item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-top: 18px;
}

.service-item::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--primary-color);
}

.service-cta {
    margin-top: 38px;
    --height: 58px;
    min-width: 149px;
}

/* media-01 */

.service-media__card-img {
    width: 482px;
    height: 322px;
}

.service-media__block-1 {
    position: absolute;
    z-index: 1;
    top: -48px;
    right: 14px;
    margin: 0;
    padding: 23px 12px;
    min-width: 276px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.service-media__block-2 {
    position: absolute;
    bottom: -55px;
    right: 14px;
    width: 120px;
    height: 120px;
    padding: 15px;
    border-radius: 16px;
    background: #439F90;
}

.service-media__block-2__img {
    display: flex;
    margin-bottom: 14px;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: #fff;
}

.service-media__block-2__num,
.service-media__block-2__desc {
    color: #fff;
}

.service-media__block-2__desc {
    font-size: 1.2rem;
}

.service-media__block-2__num {
    margin-top: 6px;
    font-size: 1.8rem;
    font-weight: 600;
}

/* media-02 */
.service-media__wrap-img {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 470px;
    justify-content: center;
}


.service-media__wrap-img::after {
    content: url(../img/service-img-bg.png);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0;
}

.service-media__img {
    position: relative;
    display: block;
    z-index: 1;
    width: 413px;
}

.service-method {
    position: absolute;
    z-index: 1;
    bottom: 57px;
    right: 42px;
    width: 280px;
    height: 220px;
    padding: 28px;
    background: #fff;
    border-radius: 8px;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.10));
}

.service-method__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-top: 20px;
}

.service-method-item__img {
    width: 63px;
    height: 48px;
    object-fit: cover;
}

.service-method__cash-img {
    position: absolute;
    z-index: 1;
    right: 14px;
    bottom: 222px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.service-content:nth-of-type(2) {
    margin-left: 120px;
}

/* =============== Review =============== */
.review {
    padding: 80px 0;
}

.review__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 435px;
}

.review__desc {
    margin-top: 18px;
    font-size: 1.6rem;
}

.review__list {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 70px;
}

.review-item__quote {
    position: relative;
    padding: 42px 28px;
    font-size: 2.2rem;
    text-align: center;
    font-style: italic;
    line-height: 1.54;
    color: var(--third-color);
    background: #fff;
    filter: drop-shadow(0 0 2px #dfe2e8);
    border-radius: 10px;
    transition: filter .2s linear;
}

.review-item__quote::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -118px;
    transform: translateX(-50%);
    border: 60px solid;
    border-color: #fff transparent transparent;
}

.review-item__quote:hover {
    cursor: pointer;
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.review-item__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 96px;
}

.review-item__wrap-avt {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background: #4AB5E3;
    overflow: hidden;
}

.review-item:nth-child(2) .review-item__wrap-avt {
    background: #439F90;
}

.review-item__avt {
    display: block;
    width: 104px;
}

.review-item__author {
    margin-top: 20px;
    font-size: 2.6rem;
    font-weight: 600;
    color: #070052;
}

.review-item__desc {
    margin-top: 2px;
}

.review__dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.review__dot {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9B9FAB;
    cursor: pointer;
}

.review__dot-active {
    background: var(--primary-color);
}

/* =============== Blog =============== */
.blog {
    padding: 80px;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__info {
    max-width: 435px;
}

.blog__heading {
    margin-top: 6px;
}

.blog__desc {
    margin-top: 18px;
    font-size: 1.6rem;
}

.blog__cta {
    --height: 58px;
    min-width: 123px;
}

.blog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 70px;
}

.blog-item {
    display: flex;
    align-items: center;
    column-gap: 22px;
    padding: 28px;
    border-radius: 12px;
    background: #FFF;
    border: 1px solid #DFE2E8;
    transition: box-shadow 0.2s linear;
}

.blog-item:hover {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.blog-item__img {
    display: block;
    width: 160px;
    height: 100%;
    object-fit: cover;
}

.blog-item__sub-heading {
    font-size: 1.4rem;
    line-height: 1.71;
    color: var(--third-color);
}

.blog-item__title {
    display: inline-block;
    margin-top: 10px;
}

.blog-item__cta {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.6rem;
    line-height: 1.62;
    color: var(--third-color);
}

.blog-item:hover .blog-item__cta,
.blog-item__cta:hover {
    color: #7264D6;
}

/* =============== App =============== */
.app {
    padding: 80px 0 100px 0;
}

.app__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    border-radius: 24px;
    background: var(--primary-color);
}

.app__sub-heading {
    --color: #fff;
}

.app__heading,
.app__desc {
    color: #fff;
}

.app__desc {
    max-width: 435px;
    text-align: center;
    margin-top: 18px;
    font-size: 1.6rem;
}

.app__list {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 16px;
}

.app-item__img {
    width: 182px;
    height: 64px;
}

.app__decor {
    position: absolute;
}

.app__decor-img {
    width: 154px;
    height: 154px;
}

.app__decor-1 {
    top: 50px;
    left: 112px;
}

.app__decor-2 {
    top: 50px;
    right: 112px;
}

.app__decor-3 {
    bottom: 50px;
    left: 166px;
}

.app__decor-4 {
    bottom: 50px;
    right: 166px;
}

/* =============== Footer =============== */
.footer {
    background: #FAFBFF;
}

.footer__inner {
    padding: 100px 0 28px;
}

.footer__row {
    display: grid;
    grid-template-columns: auto auto auto 34.44%;
    align-items: flex-start;
    column-gap: 163px;
}

.footer__heading {
    margin-bottom: 24px;
}

.footer__link {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 1.8rem;
    line-height: 1.66;
    color: var(--third-color);
    opacity: 0.75;
}

li .footer__link:hover,
.footer-bottom__link:hover {
    color: var(--primary-color);
}

.subcribe-form {
    display: flex;
    align-items: flex-end;
    column-gap: 20px;
    margin-top: 28px;
}

.subcribe-form__input {
    margin-top: 24px;
    width: 100%;
    height: 52px;
    padding: 12px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #8E919A;
    outline-color: var(--primary-color);
    border-radius: 6px;
    border: 1px solid #8E919A;
}

.subcribe-form__btn {
    outline: none;
    cursor: pointer;
    background: var(--primary-color);
}

.footer-bottom {
    margin-top: 54px;
    display: flex;
    align-items: center;
    column-gap: 100px;
}

.footer-bottom__link {
    text-decoration: underline;
}

.copy-right {
    padding: 28px 0;
    text-align: center;
    font-size: 1.6rem;
    color: #FFF;
    background: var(--primary-color);
}